.shopping-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 35px;
	transition: fadIn 1s ease-in-out ;
	background-color:darkcyan ;
}
/* .productform:hover{
	transform: scale(2);
} */
.product{
	background-color: rgb(243, 240, 237);
}
.productform {
	width: 300px;
	height:350px;
	background-color:whitesmoke;

	border-radius: 50px;

	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 2px solid grey;  */
	padding: 10px;


}

.productform img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}


.productform img:hover{
	transform: scale(2);
}

.productform p {

	font-size: medium;
	font-weight: bold;
}

.productform button {
	margin-top: auto;
	background: linear-gradient(to bottom, #0077c2, #0066a8);
	color: white;
	border: none;
	padding: 10px;
	border-radius: 50px;
align-items: center;
justify-content: center;
	cursor: pointer;
}

.productform button:hover {
	background-color:hotpink
}

@keyframes fadeIn {
	from {
			opacity: 0;
			transform: translateX(-50px);
	}
	to {
			opacity: 1;
			transform: translateX(0);
	}
}

.productform button {
			font-size: 12px;
			padding: 8px;
	}

.btn{
	display: flex;
	flex-direction: row;
	padding: 10px;
padding-right: 100px;
gap:10px;
height: 55px;
margin-left: 85px;
/* background-color: tan
margin-bottom: 10px; */



}
.ProductName{
	padding-right: 50px;
	
}
.btn button {
	font-size: 1.2em; /* Increase the font size by 20% */
	background-color:lavender;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.btn button:hover {
	background-color:tomato;
}
.details{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.amount{
	padding-left: 70px;
}
.description{
	font-size: medium;
}
.form2{
	/* display: flex; */
	justify-content: right ;
	align-items: center;
	height: 100vh;
	width: 150vh;
}
.btn6{
	background-color: darkcyan;
}

.messagesuccess {
	font-size: 15px;
	text-align: center;
	padding: 20px;
	background-color: #dff0d8;
	border: 2px solid #3c763d;
	border-radius: 5px;
	margin-top: 20px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	transition: font-size 0.1s ease-in-out;
	position: fixed;
	bottom: 440px;
	left: 50%;
	transform: translateX(-50%);
}

.messagesuccess.enlarged {
	font-size: 20px;
}

